CallOut_CAD/CallOut_CAD/Service References/ServiceReference1/CallOut_CADService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CallOut_CADServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/CallOut_CADService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CADIncidentMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="DispatchDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DispatchUnits" nillable="true" type="tns:ArrayOfIncidentUnits" />
      <xs:element minOccurs="0" name="IncidentAlarm" type="xs:int" />
      <xs:element minOccurs="0" name="IncidentLocation" nillable="true" type="tns:IncidentLocation" />
      <xs:element minOccurs="0" name="IncidentNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentPriority" type="xs:int" />
      <xs:element minOccurs="0" name="IncidentTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CADIncidentMessage" nillable="true" type="tns:CADIncidentMessage" />
  <xs:complexType name="ArrayOfIncidentUnits">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IncidentUnits" nillable="true" type="tns:IncidentUnits" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncidentUnits" nillable="true" type="tns:ArrayOfIncidentUnits" />
  <xs:complexType name="IncidentUnits">
    <xs:sequence>
      <xs:element minOccurs="0" name="Callsign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitCurrentStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitHomeStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncidentUnits" nillable="true" type="tns:IncidentUnits" />
  <xs:complexType name="IncidentLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncidentLocation" nillable="true" type="tns:IncidentLocation" />
  <xs:complexType name="CADIncidentAck">
    <xs:sequence>
      <xs:element minOccurs="0" name="AckNo" type="xs:int" />
      <xs:element minOccurs="0" name="AckTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AckTotal" type="xs:int" />
      <xs:element minOccurs="0" name="AckTracking" nillable="true" type="tns:ArrayOfTracking" />
      <xs:element minOccurs="0" name="CodingID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CADIncidentAck" nillable="true" type="tns:CADIncidentAck" />
  <xs:complexType name="ArrayOfTracking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tracking" nillable="true" type="tns:Tracking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTracking" nillable="true" type="tns:ArrayOfTracking" />
  <xs:complexType name="Tracking">
    <xs:sequence>
      <xs:element minOccurs="0" name="Station" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Unit" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tracking" nillable="true" type="tns:Tracking" />
  <xs:complexType name="CADIncidentCodingStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="AckFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AckNo" type="xs:int" />
      <xs:element minOccurs="0" name="AckStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AckTimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AckTotal" type="xs:int" />
      <xs:element minOccurs="0" name="AckTracking" nillable="true" type="tns:Tracking" />
      <xs:element minOccurs="0" name="CodingID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CADIncidentCodingStatus" nillable="true" type="tns:CADIncidentCodingStatus" />
</xs:schema>